@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

@import "tailwindcss";

@layer utilities {
  .nunito-regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .nunito-bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .nunito-extra-bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
}
